blockquote {
	margin : 0 0 $baselineheight 0;
	padding-left : $gutterwidth;
	border-left : 2px solid $bordercolor;
	font-family : $altfont;
	font-style : normal;
	p {
		font-size: fs(small);
		color:$grey;
		font-style: italic;
        line-height: 1.5;
	}
}