// Libreries, settings y variables
@import 'lib/variables';
@import 'lib/mixins';

// Elements base
@import './base/botons';
@import './base/typography';

// Components
@import './components/grids';

@import './components/utilities';


body {
  background-color: aquamarine;
}

.Panel {
  background-color: #fff;
  padding: 25px;

  &-destacado {
    background-color: pink;
    @include box-emboss(0.3, 0.6);
  }
}