// Libreries, settings y variables
@import 'lib/variables';
@import 'lib/mixins';

// Elements base
@import './base/botons';
@import './base/typography';

// Components
@import './components/grids';

@import './components/utilities';


body {
  background-color: aquamarine;
}

.Panel {
  background-color: #fff;
  padding: 25px;
  @include use-max-width($color-grey);
  @include centered;
  @include respond-to(800px) {
    background-color: $color-grey;
    font-size: $basefontsize + 22px;
  }

  &-destacado {
    background-color: pink;
    @include box-emboss(0.3, 0.6);
  }
}